* {
  /* border: 1px solid green; */
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 600px;
  height: 700px;
}

.top{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  width: 502px;
  height: 310px;
}

.top.left{
  flex-direction: column;
  display: block;
}

.bottom-left{
  border: 1px solid gray;
  width: 243px;
  height: 310px;
  margin-top: -30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bottom-right{
  border: 1px solid gray;
  width: 243px;
  height: 310px;
  margin-left: 15px;
  margin-top: -30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-buy{
  position: absolute;
  top: 235px;
  left: 20px;
}

.button-next-1 {
	/* box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed; */
	/* border-radius:6px; */
	/* border:1px solid #dcdcdc; */
	display:inline-block;
	cursor:pointer;
	color:#fcf4fc;
	font-family:Georgia;
	font-size:20px;
	padding:12px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.button-next-1:hover{
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.button-next-1:active{
  position:relative;
	top:1px;
}

.button-next-2{
  position: absolute;
  top: 235px;
  left: 20px;
}